/* page logo css */
.logo{
    width: 200px;
    height: 50px;
}

/* page top css */
.page-title{
    margin-top: 40px;
    margin-bottom: 80px;
}
.btn-logout{
    text-decoration: none;
    color: #333333;
}
.btn-logout:hover{
    text-decoration: none;
    color: #d10a00;
}

/* sidenav css */
.navbar-brand{
    margin-bottom: 50px;
    margin-top: 50px;
}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: #f7f7f7;
}
.sidenav a {
    padding: 8px 8px 8px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    display: block;
    transition: 0.3s;
}  
.container-link-1stitem{
    border-top:#ede8e8 1px solid;
    border-bottom:#ede8e8 1px solid;
    padding: 8px 8px 8px 8px;
}
.container-link{
    border-bottom:#ede8e8 1px solid;
    padding: 8px 8px 8px 8px;
}

/* page content css */
.content{
    margin-left: 20%;
    padding-left: 70px;
    padding-right: 70px;
}

/* filter css */
.filter-title{
    margin-bottom: 10px;
    font-weight: 300;
    text-decoration: underline;
}
.label-filter{
    margin-right: 15px;
}
.filter-input{
    height: 32px;
    width: 220px;
}
/* search css */
.btn-search{
    font-size: 20px;
    margin-left: 5px;
    background-color: #333333;
    width: 15%;
    color: #ffffff;
    font-weight: 300;
}
.btn-search:hover{
    color: #ffffff;
    font-weight: 600;
}
.search{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.form-control:focus {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(255, 255, 255, 255);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #333333;
    color: #ffffff;
}
.nav-link{
    color: #333333;
}
.nav-link:hover{
    color: #333333;
}

/* item added css */
.form-cart{
    display: flex;
    width: 100%;
}
.item-container-add{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.col-sm-4{
    display: inline
}
.row-add{
    width: 50%;
}
.text-namabarang-add,.text-namatoko-add,.text-lokasitoko-add{
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-harga-add{
    margin-bottom: 2px;
}
.item-add-img{
    width: 100%;
    height: 100px;
}
.btn{
    padding: 0px;
    font-size: 15px;
}
.btn-checkout{
    background-color: #333333;
    color: #ffffff;
    float: right;
    font-size: 20px;
    width: 15%;
    font-weight: 300;
}
.btn-checkout:hover{
    color: #ffffff;
    float: right;
    font-weight: 600;
}
.btn-add{
    text-decoration: none;
    background-color: #45c93e;
    height: 35px;
    padding-left: 2px;
    padding-right: 2px;
    color: #ffffff;
}
.btn-add:hover{
    color: #ffffff;
}
.btn-del{
    display:block;
    float: right;
    text-decoration: none;
    color: #333333;
}
.btn-del:hover{
    text-decoration: none;
    color: #d10a00;
}
.icon-delete{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}   
.row{
    margin-bottom: 20px;
}
.border-cart{
    padding-right: 20px;
}

/* carousel css */
.item-container-search-Tokopedia{
    margin-top: 30px;
    margin-bottom: 30px;
}
.item-container-search-Shopee{
    margin-bottom: 30px;
}
/* show items */
.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
}
/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}
/* right or prev direction */
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}
.icon-prev{
    width: 30px;
    height: 30px;
}
.icon-next{
    width: 30px;
    height: 30px;
}
.carousel-item{ 
    margin-right: 0px !important;
    width: 100%;
    height: 400px;
}
.carousel-item-list{ 
    margin-right: 0px !important;
    width: 100%;
    height: 300px;
}
.card{
    width: 100%;
    height: 370px;
    text-decoration: none;
    color: #333333;
}
a:hover{
    text-decoration: none;
    color: #333333;
}
.card-img-top{
    height: 200px;
}
.card-title{
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}
.card-text{
    margin: 0px;
    font-size: 16px;
    color: black;
}
.card-text-namatoko{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.carousel-control-next{
    margin-right: -100px;
    width: 15%;
}
.carousel-control-prev{
    margin-left: -100px;
    width: 15%;
}

  