.icon-compare{
    width: 18px;
    height: 18px;
}
.btn-compare{
    float: right;
    margin-bottom: 10px;
}
.list-item-container{
    width: 100%;
}
.btn-save{
    text-align: right;
    margin-left: 90%;
    padding: 3px;
    display: inline-block;
    background-color: #333;
}
.btn-save:hover{
    background-color: #333;
}
.btn{
    transition: text-shadow .3s;
}
.btn-save:hover{
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.btn-delete-list{
    background-color: #d10a00;
    color: #ffffff;
    width: 80px;
    height: 30px;

    margin-bottom: 5px;
    display: block;
}
.btn-graph{
    background-color: #333;
    color: #ffffff;
    width: 80px;
    height: 30px;

    margin-bottom: 5px;
    display: block;
}
